<% content_for :title, t('site.nav.schedule_appointment') %>
<% content_for :lb_wrap_size, "8" %>

<div class="row-fluid">
  <div class="span6 offset1">
    <h2><%= t('appointments.heading.schedule_your_visit') %></h2>

    <p class="note"><%= t('appointments.msg.appointment_form_success') %></p>
  </div>
</div>
