<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<tr>
<td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">

<%= @body.gsub("\n", "<br>").html_safe %>

</td>
</tr>
</table>
