<div class="selection banner banner_inline">
  <h4 class="sectionhd">OUR SELECTIONS. YOUR INBOX.</h4>
  <%= render :partial=>"email_subscribers/form", :locals=>{:context=>'selections_banner'} %>
</div>
