<div class="banner banner_inline">
  <h3 class="gamma2">Our Stories. Your Inbox.</h3>
  <p>Sign up to discover the people, ideas, and processes behind quintessential things. You’ll also be among the first to learn about our latest arrivals, seasonal sales, and what’s new at The Apartment, our offline home.</p>

  <%= render :partial=>"email_subscribers/form", :locals=>{:context=>'inline_banner'} %>
</div>
