<div class="banner_step banner_step-0">
  <div class="row-fluid">
    <div class="span8 offset4 text-center">
      <h2 class="beta">Success! Thank you for subscribing. Our next update will arrive in your inbox shortly.</h2>
      <div class="actions">
          <button class="btn-em remove">Finish</button>
      </div>
    </div>
  </div>
</div>
