<div class="row-fluid apartment-section">
  <div class="span8">
    <h1 class="beta"><a href="/the_apartments/los_angeles">The Apartment – Los Angeles</a></h1>
    <h2 class="gamma2 text-left">A SERENE SPACE IN A SPRAWLING CITY
      <span class="subhd"><a href="https://www.google.com/maps/place/8463+Melrose+Pl,+Los+Angeles,+CA+90069/@34.0836841,-118.3777362,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2beb0d56e07c5:0x4a15c67e70899729" target="_blank">8463 Melrose Place, 2nd Floor, Los Angeles</a></span>
    </h2>
    <p>
      Open Tuesday through Sunday from 11 a.m. to 6 p.m., and <a href="#" data-brickwork-reveal-modal="appointment-widget-6">by appointment</a>
    </p>
    <a href="/the_apartments/los_angeles" class="readmore">VISIT LOS ANGELES</a>
  </div>
  <div class="span8">
    <h1 class="beta"><a href="/the_apartments/quintessential_apartment">The Apartment – New York</a></h1>
    <h2 class="gamma2 text-left">A LIGHT-FILLED LOFT IN THE HEART OF SOHO
      <span class="subhd"><a href="https://www.google.com/maps/place/The+Apartment+by+The+Line/@40.7233516,-74.0027432,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2598ea9eed6c5:0x6d6d44bc0f5baa51" target="_blank">76 Greene Street, 3rd Floor, New York</a></span>
    </h2>
    <p>
      Open Tuesday through Saturday from noon to 6 p.m., and <a href="#" data-brickwork-reveal-modal="appointment-widget-6">by appointment</a>
    </p>
    <a href="/the_apartments/quintessential_apartment" class="readmore">VISIT NEW YORK</a>
  </div>
</div>
