<header role="banner" id="headerWrap">
  <a href="/" class="header-logo"><%= image_tag 'logo_elanstudio_small.svg', { :alt => "THE LINE", :class => "logo", :"data-svg-fallback" => image_path('logo_elanstudio_small.png')} %></a>
</header>
