<ul>
  <li>
    <%= check_box_tag( "subscriptions[groups][#{group_as_list.mailchimp_id}]", 1, email_preference.subscribed_groups.include?(group_as_list)) %>
    <%= group_as_list.display_name %>
    <br>
    <span class="email-list-description"><%= group_as_list.short_description %></span>
  </li>
</ul>
