<script id="item-grid-booking-widget" type="text/x-handlebars-template" data-shop-view="<%= session[:shop_view_count] %>">
	<li id="grid-widget" class="item">
		<div class="grid-widget-overlay">
			<div class="grid-widget-content">
				<h3>{{title}}</h3>
				<p>{{description}}</p>
				<p>Visit The Apartment by The Line</p>
				<p><a class="btn" href="/the_apartments/quintessential_apartment">New York</a><br><a class="btn" href="/the_apartments/los_angeles">Los Angeles</a></p>
			</div>
		</div>
	</li>
</script>