<div class="bridge2">
  <div id="top-banner-overlay">
    <span class="text">Celebrate Our New <span class="hide-on-small">Offline</span> Home with a Special Invitation<span id="close-icon" class="icon_downCaret-white-ia"></span></span>
  </div>
  <div id="top-banner" class="short">
    <div id="top-banner-content">

      <div id="top-banner-main-content" class="valign">
        <h2 class="apartment-logo">The Apartment<br><small>by The Line</small></h2>
        <div class="row-fluid">
          <div class="span8 offset4">
            <h1 class="heading">Follow The Line to Los Angeles</h1>
            <p class="intro">We’re putting the finishing touches on our new offline home.<br>As part of the opening festivities, friends of The Line receive a very special offer, good from today through Thursday, October 8th:</p>
            <p class="promo-text">Save $25 for every $250<br>Save $50 for every $500<br>Save $75 for every $750<br>Save $100 for every $1000</p>
            <h2 class="sub-heading">Think of it as a housewarming gift in reverse.</h2>
            <div class="banner banner_inline">
              <p>Join our list today to be first in line.</p>
              <%= render :partial => 'email_subscribers/form', :locals => {:context => 'bottom_banner'} %>
              <p class="last">The Apartment by The Line - Los Angeles</p>
              <h2>Opening October 16th</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="top-banner-thankyou" class="valign">
        <h2 class="apartment-logo">The Apartment<br><small>by The Line</small></h2>
        <div class="row-fluid">
          <div class="span8 offset4">
            <h1 class="heading">Success! Your special offer code is<br><span>BICOASTAL</span><br>Full details are on their way to your inbox.</h1>
            <p class="last">The Apartment by The Line - Los Angeles</p>
            <h2>Opening October 16th</h2>
          </div>
        </div>
      </div>

      <div id="close-top-banner"><span class="icon_close-white"><span></div>
    </div>
  </div>
</div>
