<% content_for :title, t('site.nav.about') %>
<main>
  <div class="row-fluid">
    <article class="span12 offset2">
      <h1 class="gamma"><%= t('site.nav.about') %></h1>

      <p class="opening">Elan Studio is a  ....</p>

    </article>
  </div>
</main>
