<% content_for :title, t('site.nav.about') %>
<main>
  <div class="row-fluid">
    <article class="span12 offset2">
      <h1 class="gamma"><%= t('site.nav.about') %></h1>

      <p class="opening">Our vision stems from a desire to pare back, strip down, and pull together—the search for refined, versatile, and honest goods that come together in our offline homes, The Apartments, in <a href="/the_apartments/quintessential_apartment">New York City</a> and <a href="/the_apartments/los_angeles">Los Angeles</a>. Built to last but never boring, these objects are a mix of established favorites and our latest finds from emerging names across fashion, home, and beauty. What unites these quintessential things is their staying power, the intention of their making, and how they work together  in the context of a carefully considered life.</p>

      <p class="opening">Contemplate a future of objects that inspire and refine you with The Line.</p>


    </article>
  </div>
</main>
