/* _stories.scss
  layout specs for stories - shared between chapter and footnote items and lists

  * .anothologyList
  * .storiesList
  * .storiesList.chronologyList
  * .volumeHeader
*/


/* Page descritions on stories pages
------------------------------------------- */

.page-description {
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;

  @media #{query-notsmalltopnav} {
    padding-top: 0;
  }

  h1 {
    margin-bottom: 0;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px !important;
    line-height: 20px !important;
    padding-bottom: 20px;

    @media #{$query-notsmall} {
      padding-bottom: 0;
    }

    @media #{$query-notsmalltopnav} {
      padding-bottom: 24px;
    }
  }
}

/* .anthologyList - volumes+footnotes index
------------------------------------------- */
// 1 item at a time, no masonry


@include fallbackFontStackDisplay('.anthologyList .item .item-body .issue, .anthologyList .item .item-body .title, .anthologyList .item .item-body .description');

.anthologyList {
  @extend .pl;
  margin-bottom: 0;

  .item {
    text-align: center;

    .item-content {
      padding-top: 0;
    }

    .item-header {
      padding-top: 0;
      text-align: center;
      font-size: 11px;

      @media #{$query-notsmall} {
        height: 30%;
        padding-top: 33px;
      }

      @media #{$query-largetype} {
        padding-top: 33px;
      }

      @media #{$query-anthology-item-step3} {
        height: 35%;
      }
    }

    .item-body {
      margin-right: 10px;
      margin-left: 10px;

      @media #{$query-notsmall} {
        max-width: grid-math($col8, $baseWidth);
        margin-right: auto;
        margin-left: auto;
      }

      .issue,
      .title {
        font-size: 28px;
        line-height: 30px;
        font-weight: normal;
      }

      .issue {
        display: block;
        font-style: italic;
      }

      .marker {
        font-size: 10px;
        letter-spacing: 1px;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        @media #{$query-notsmall} {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 25px;
        }

        @media #{$query-volume-hero-step3} {
          margin-top: 24px;
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 78px;
        }
      }
    }
  }

  .item.volume {
    overflow-x: hidden;

    // do this here so padding calc isn't screwed up o child eleement
    max-width: 1229px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    color: $white;
    background-color: $grey-light;

    @media #{$query-anthology-item-step0} {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }

    +.item {
      margin-top: 21px;
    }

    a {
      // background layout
      display: block;
      position: relative;
      height: 0;
      padding-top: 4 / 9 * 100%;
      background-position: center center;
      color: $white;
      text-decoration: none;

      &:hover,
      &:active {
        color: $white;
      }

      h2:hover,
      h2:active {
        text-decoration: underline;
      }

      @media #{$query-anthology-item-step0} { // small screen, supports mq
        // old "defaults"
        @include background-size(cover);
        padding-top: 125%;
      }

      @media #{$query-anthology-item-step1} {
        height: 340px;
        padding-top: 0;
      }
      @media #{$query-anthology-item-step2} {
        height: 0;
        padding-top: 4 / 9 * 100%;
      }
    }

    .item-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include display-flex();
      @include flex-direction(column);
      @include flex-wrap(nowrap);
    }

    .item-header {
      padding-bottom: 94px;
      padding-top: 20px;

      @media #{$query-notsmall} {
        padding-bottom: 0px;
        padding-top: 20px;
      }

      @media #{$query-largetype} {
        padding-bottom: 135px;
        padding-top: 33px;
      }
    }

    .item-body {
      .title,
      .marker {
        margin-bottom: 26px;
      }

      @media #{$query-anthology-item-step3} {
        .issue,
        .title {
          font-size: 38px;
          line-height: 40px;
        }
        .title,
        .marker {
          margin-bottom: 30px;
        }
      }
    }
  }

  .item.footnote {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    padding-bottom: 15px;

    @media #{$query-notsmall} {
      margin-bottom: 0;
      margin-left: none;
      margin-right: none;
    }

    a {
      text-decoration: none;
    }

    .item-header {
      padding-bottom: 32px;

      @media #{$query-notsmall} {
        padding-bottom: 44px;
        padding-top: 12px;
      }

      @media #{$query-largetype} {
        padding-bottom: 77px;
      }
    }


    .title,
    .marker {
      margin-bottom: 20px;

      @media #{$query-notsmall} {
        margin-bottom: 24px;
      }
    }

    .title:hover,
    .title:active {
      text-decoration: underline;
    }

    .title {
      @media #{$query-notsmall} {
        font-size: 30px;
      }
    }
  }
}

/* .storiesList - default list
------------------------------------------- */
// 4 up masonry grid / nested inside .itemGrid-4.

@include fallbackFontStackDisplay('.storiesList .item .title'); // TODO: confirm small
.storiesList {
  @extend .pl;

  .item {
    img {
      margin-bottom: 0;
    }

    h3 {
      padding-bottom: 6px;
      margin-top: 0;
    }

    a {
      text-decoration: none;
    }

    .row-fluid.image {
      margin-bottom: 0;
    }

    .item-content {
      padding-top: 6px;

      @media #{$query-notsmall} {
        padding-bottom: 44px;
      }
    }

    .item-header {
      padding-top: 6px;
    }

    .marker {
      font-size: 10px;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }

    .title {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 6px;
      font-weight: normal;
      margin-bottom: 0;
    }

    .label {
      margin-right: initial;
      font-size: 11px;
      font-style: italic;
    }

    // when in hero item
    &.hero {
      width: 100%;
      padding-bottom: 0;
      margin-left: 0;
      padding-left: 0;

      .item-content,
      .item-header {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
      }

      .item-body,
      .item-content {
         @media #{$query-notsmall} {
          padding-top: 6px;
          padding-bottom: 0;
        }
      }

      .label {
        padding-top: 0;
        margin-bottom: 6px;
      }

      .description {
        font-size: 12px;
        line-height: 18px;
        max-width: none;
        margin-bottom: 0;
      }
    } // item hero
  } // item
}


/* .storiesList.chronologyList
------------------------------------------- */
// 1 item at a time, no masonry
// * generic items
// * chapter item specific
// * footnotes item specific

@include fallbackFontStackDisplay('.storiesList.chronologyList .item .title'); // TODO: confirm small; confirm redundant
.storiesList.chronologyList {

  .item {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 28px;
    border-bottom: $border-default;

    p {
      max-width: none;
    }

    .item-content {
      text-align: center;
      max-width: none;
      padding-top: 0;
      margin-left: 50px;
      margin-right: 50px;

      a {
        text-decoration: none;
      }

      @media #{$query-notsmall} {
        padding-top: 26px;
        margin-left: 0;
        margin-right: 0;
      }

      @media #{$query-largetype} {
        padding-top: 71px;
      }
    }

    .item-image {
      img {
        margin-bottom: 22px;
      }
    }

    .marker {
      max-width: none;
      margin-bottom: 28px;
      font-size: 8px;

      @media #{$query-notsmall} {
        font-size: 10px;
        margin-bottom: 28px;
      }

      @media #{$query-largetype} {
        margin-bottom: 40px;
      }
    }

    .title {
      line-height: 30px;
      font-weight: normal;
      margin-bottom: 28px;
      font-size: 26px;
      padding-bottom: 0;

      a:hover,
      a:active {
        text-decoration: underline;
      }

      @media #{$query-notsmall} {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    .label {
      padding-bottom: 28px;
      font-size: 11px;
      font-style: italic;

      @media #{$query-notsmall} {
        padding-bottom: 20px;
      }
    }

    .item-body {
      p {
        margin-bottom: 28px;
        text-align: center;
        max-width: 100%;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;

        @media #{$query-notsmall} {
          font-size: 12px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .item.chapter {
    .item-content {
      @media #{$query-notsmall} {
        padding-top: 126px;
      }
    }
  }
}

/* .volumeHeader
------------------------------------------- */
@include fallbackFontStackDisplay('.volumeHeader .volumeHeader-title .title');

.volumeHeader {
  overflow-x: hidden;

  // do this here so padding calc isn't screwed up o child eleement
  max-width: 1229px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;

  color: $white;
  background-color: $grey-light;

  @media #{$query-volume-hero-step0} {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  @media #{$query-notsmall} {
    margin-bottom: 21px;
  }


  .volumeHeader-item {
    position: relative;
    height: 0;
    padding-top: 5 / 9 * 100%;
    background-position: center center;

    @media #{$query-volume-hero-step0} {
      @include background-size(cover);
      padding-top: 125%;
    }
    @media #{$query-volume-hero-step1} {
      height: 450px;
      padding-top: 0;
    }
    @media #{$query-volume-hero-step2} {
      height: 0;
      padding-top: 5 / 9 * 100%;
    }
  }
  .volumeHeader-content {
    position: absolute;
    width: 100%;
    bottom: 21px;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;

    @media #{$query-notsmall} {
      bottom: 42px;
      padding-right: 0;
      padding-left: 0;
      width: grid-math($col8, $col16);
      margin-left: grid-math($col3+$gutter2, $baseWidth);
    }
  }
  .volumeHeader-title,
  .volumeHeader-body {
    // margin-right: 10px;
    // margin-left: 10px;

    // @media #{$query-notsmall} {
      // width: grid-math($col8, $col16);
      // margin-left: grid-math($col3, $col8);
    // }

  }
  .volumeHeader-title {
    margin-bottom: 24px;

    .issue,
    .title {
      margin: 0;
      font-size: 30px;
      line-height: 34px;
      font-weight: normal;
    }
    .issue {
      display: block;
      font-style: italic;
    }

    @media #{$query-volume-hero-step3} {
      margin-bottom: 60px;

      .issue,
      .title {
        font-size: 44px;
        line-height: 48px;
      }
    }
  }
  .volumeHeader-body {
    position: relative;

    .label {
      margin-bottom: 24px;

      @media #{$query-volume-hero-step3} {
        position: absolute;
        top: 0;
        left: grid-math(($col2+$gutter1)*-1, $col8);
      }
    }

    .sectionhd {
      display: none;
      margin-bottom: 24px;

      @media #{$query-volume-hero-step3} {
        display: block;
      }
    }

    .date {
      font-size: 16px;
      line-height: 22px;

      @media #{$query-volume-hero-step2} {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
