.icon_americanexpress-ia:after,
.icon_americanexpress { background-image: url('assets/icons/icon_americanexpress.png'); background-repeat: no-repeat; }

.icon_checkbox-deemphasized-ia:after,
.icon_checkbox-deemphasized { background-image: url('assets/icons/icon_checkbox-deemphasized.png'); background-repeat: no-repeat; }

.icon_checkbox-emphasized-ia:after,
.icon_checkbox-emphasized { background-image: url('assets/icons/icon_checkbox-emphasized.png'); background-repeat: no-repeat; }

.icon_checkbox-ia:after,
.icon_checkbox { background-image: url('assets/icons/icon_checkbox.png'); background-repeat: no-repeat; }

.icon_close-white-ia:after,
.icon_close-white { background-image: url('assets/icons/icon_close-white.png'); background-repeat: no-repeat; }

.icon_dinersclub-ia:after,
.icon_dinersclub { background-image: url('assets/icons/icon_dinersclub.png'); background-repeat: no-repeat; }

.icon_discover-ia:after,
.icon_discover { background-image: url('assets/icons/icon_discover.png'); background-repeat: no-repeat; }

.icon_downCaret-white-ia:after,
.icon_downCaret-white { background-image: url('assets/icons/icon_downCaret-white.png'); background-repeat: no-repeat; }

.icon_downCaret-ia:after,
.icon_downCaret { background-image: url('assets/icons/icon_downCaret.png'); background-repeat: no-repeat; }

.icon_jcb-ia:after,
.icon_jcb { background-image: url('assets/icons/icon_jcb.png'); background-repeat: no-repeat; }

.icon_left-ia:after,
.icon_left { background-image: url('assets/icons/icon_left.png'); background-repeat: no-repeat; }

.icon_leftShort-ia:after,
.icon_leftShort { background-image: url('assets/icons/icon_leftShort.png'); background-repeat: no-repeat; }

.icon_mastercard-ia:after,
.icon_mastercard { background-image: url('assets/icons/icon_mastercard.png'); background-repeat: no-repeat; }

.icon_menu-ia:after,
.icon_menu { background-image: url('assets/icons/icon_menu.png'); background-repeat: no-repeat; }

.icon_mobileNavLeft-ia:after,
.icon_mobileNavLeft { background-image: url('assets/icons/icon_mobileNavLeft.png'); background-repeat: no-repeat; }

.icon_mobileNavRight-ia:after,
.icon_mobileNavRight { background-image: url('assets/icons/icon_mobileNavRight.png'); background-repeat: no-repeat; }

.icon_plus-ia:after,
.icon_plus { background-image: url('assets/icons/icon_plus.png'); background-repeat: no-repeat; }

.icon_right-ia:after,
.icon_right { background-image: url('assets/icons/icon_right.png'); background-repeat: no-repeat; }

.icon_rightShort-ia:after,
.icon_rightShort { background-image: url('assets/icons/icon_rightShort.png'); background-repeat: no-repeat; }

.icon_search-ia:after,
.icon_search { background-image: url('assets/icons/icon_search.png'); background-repeat: no-repeat; }

.icon_up-ia:after,
.icon_up { background-image: url('assets/icons/icon_up.png'); background-repeat: no-repeat; }

.icon_upCaret-white-ia:after,
.icon_upCaret-white { background-image: url('assets/icons/icon_upCaret-white.png'); background-repeat: no-repeat; }

.icon_upCaret-ia:after,
.icon_upCaret { background-image: url('assets/icons/icon_upCaret.png'); background-repeat: no-repeat; }

.icon_upSmall-ia:after,
.icon_upSmall { background-image: url('assets/icons/icon_upSmall.png'); background-repeat: no-repeat; }

.icon_visa-ia:after,
.icon_visa { background-image: url('assets/icons/icon_visa.png'); background-repeat: no-repeat; }

