<div class="row-fluid">
  <div class="span12 offset2">
    <h2 class="text-center past-event">We’re sorry but this event has passed.<br>Sign-up for event updates in <%= @apartment.title %></h2>
    <div class="banner banner_inline">
      <%= render :partial=>'email_subscribers/apartments_form' %>
    </div>
  </div>
</div>

<hr>