<% content_for :title, "Packaging Options" %>
<% content_for :lb_wrap_size, "4" %>

<!-- 12 column grid system -->
<div class="row-fluid">
  <div class="span10 offset1">
    <p style="margin-top: 15px;">Signature packaging is not available for:</p>
    <ul>
      <li>Orders under $150 (before tax and shipping)</li>
      <li>Sale merchandise</li>
      <li>Footwear</li>
      <li>Oversized items</li>
      <li>Items requiring special delivery</li>
    </ul>

  </div>
</div>
