<% content_for :nav_title, "Home" %>
<% content_for :additional_metas do %>
<meta name="google-site-verification" content="pX_5YCj8rHywOO59LCPl4ifF8EA6z31tDqiscvmwlBQ" />

<% end %>
<% content_for :additional_body_classes, @content.published? ? "published" : "unpublished" %>

<%= render :partial => 'shared/error_messages', :locals => { :popup => true } %>

<% cache cache_buster do %>
  <div class="row-fluid hero">
    <div class="span16">
      <%= @content.content_block('hero').try(:body) %>
    </div>
  </div>
  <hr>
<% end %>