<% content_for :title, t('site.nav.sizechart_rtw') %>
<% content_for :lb_wrap_size, "12" %>

<!-- 12 column grid system -->
<div class="row-fluid">
  <div class="span10 offset1">

    <h1 class="gamma"><%= t('site.nav.sizechart_rtw') %></h1>

    <table class="striped">
      <tr>
      	<th>US</th>	<td>00</td>	<td>0</td>	<td>2-4</td>	<td>4-6</td>	<td>8</td>
      </tr>
      <tr>
      	<th>UK</th>	<td>4</td>	<td>6</td>	<td>8</td>	<td>10</td>	<td>12</td>
      </tr>
      <tr>
      	<th>ITALY</th>	<td>36</td>	<td>38</td>	<td>40</td>	<td>42</td>	<td>44</td>
      </tr>
      <tr>
      	<th>FRANCE</th>	<td>32</td>	<td>34</td>	<td>36</td>	<td>38</td>	<td>40</td>
      </tr>
      <tr>
        <th>DENMARK</th> <td>30</td> <td>32</td> <td>34</td> <td>36</td> <td>38</td>
      </tr>
      <tr>
        <th>RUSSIA</th> <td>38</td> <td>40</td> <td>42</td> <td>44</td> <td>46</td>
      </tr>
      <tr>
        <th>GERMANY</th> <td>30</td> <td>32</td> <td>34</td> <td>36</td> <td>38</td>
      </tr>
      <tr>
        <th>AUSTRALIA</th> <td>4</td>  <td>6</td>  <td>8</td>  <td>10</td> <td>12</td>
      </tr>
      <tr>
        <th>JAPAN</th>  <td>3</td>  <td>5</td>  <td>7</td>  <td>9</td> <td>11</td>
      </tr>
      <tr>
        <th>JEANS</th> <td>23</td> <td>24-25</td> <td>26-27</td> <td>27-28</td> <td>29-30</td>
      </tr>
      <tr>
        <th></th> <td>XXS</td> <td>XXS-XS</td> <td>XS-S</td> <td>S-M</td> <td>M-L</td>
      </tr>
    </table>

    <br>

    <table class="striped">
      <tr>
        <th>US</th> <td>10</td>  <td>12</td>  <td>14</td>  <td>16</td>
      </tr>
      <tr>
        <th>UK</th> <td>14</td>  <td>16</td>  <td>18</td>  <td>20</td>
      </tr>
      <tr>
        <th>ITALY</th>  <td>46</td> <td>48</td> <td>50</td> <td>52</td>
      </tr>
      <tr>
        <th>FRANCE</th> <td>42</td> <td>44</td> <td>46</td> <td>48</td>
      </tr>
      <tr>
        <th>DENMARK</th> <td>40</td> <td>42</td> <td>44</td> <td>46</td>
      </tr>
      <tr>
        <th>RUSSIA</th>  <td>48</td> <td>50</td> <td>52</td> <td>54</td>
      </tr>
      <tr>
        <th>GERMANY</th> <td>40</td> <td>42</td> <td>44</td> <td>46</td>
      </tr>
      <tr>
        <th>AUSTRALIA</th> <td>14</td> <td>16</td> <td>18</td> <td>20</td>
      </tr>
      <tr>
        <th>JAPAN</th> <td>13</td> <td>15</td> <td>17</td> <td>19</td>
      </tr>
      <tr>
        <th>JEANS</th> <td>31-32</td> <td>32-33</td> <td></td> <td></td>
      </tr>
      <tr>
        <th></th> <td>L-XL</td> <td>XL-XXL</td> <td></td> <td></td>
      </tr>
    </table>
  </div>
</div>
