<% content_for :title, "The Stories" %>
<% content_for :nav_title, "All Stories" %>
<% content_for :canonical_url, @content_stories_path %>

<% cache cache_buster do %>
<div class="bridge2">
  <main>
     <div class="row-fluid page-description">
      <div class="span4 offset6">
        <h1 class="the-apartment-header text-center">Musings</span></h1>
        <p class="text-center">Explore the thoughts, philosophies, events, people, and travel diaries of Elan Studio.</p>
      </div>
    </div><!--/.row-fluid-->
    <hr>

    <ul class="storiesList chronologyList">
      <% @stories.each do |story| %>
        <%= render :partial=>'story_item_chronology', locals: {story: story} %>
      <% end %>
    </ul>

    <div class="row-fluid">
      <div class="span8 offset4">
        <%= paginate @stories, theme: 'theline' %>
      </div>
    </div>
  </main>
</div> <!--/.bridge2-->
<% end %>