<style type="text/css">
html,body {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;

  background: #fff;
  color: #404041;

  font-size: 16px;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

.header,
.footer,
table {
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  border-collapse: collapse;
}

.body+.body {
  padding-top: 0;
}

.body th,
.body td {
  text-align: left;
  vertical-align: top;
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 94px;
  margin: 0 auto;
}

.footer,
.footer p {
  font-size: 9px;
  color: #BBBDC0;
  font-weight: bold;
  letter-spacing: 1px;
}

td {
  text-align: center;
}

hr {
  color: #E5E5E5;
  background: #E5E5E5;
  height: 1px;
  border: 0;
  width: 100%;
}

hr.over {
  position: absolute;
  top: 250px;

}

</style>




<table class="header">
<tbody><tr>
  <td>
   <a href="https://www.elanstudio.com/"><img alt="THE LINE" class="logo" h="eight=&quot;21&quot;" src="//www.elanstudio.com/assets/mailer/logo_theline_small.png" width="94"></a>
  </td>
</tr>
</tbody></table>

<hr class="over">

<!-- CONTENT BEGINS HERE -->

<table class="body">
<tbody><tr>
<td>

<p>Dear [Recipient Name],</p>

<p>Thank you for joining our search for refined, versatile, and honest goods. We’re pleased to report that your recent order ([Order #]) has shipped.</p>

<p>Here’s a reminder of what you ordered and where it’s going:</p>

[Item List]

<br>

[Recipient Address]

<br>

<p>You may follow your package’s journey with this handy tracking number:
[Tracking #]</p>

<p>Faithfully Yours,<br>
The Line </p>

<p>P.S. Have a question or comment? Drop us a line at <a mailto="hello@elanstudio.com">hello@elanstudio.com</a></p>

</td>
</tr>
</tbody></table>

<!-- CONTENT ENDS HERE -->
<br>
<br>
<table class="footer">
<tbody><tr>
  <td>
    <p>
      81 Walker Street, 2nd FL, NEW YORK, NY 10013<br>
      <a href="https://www.elanstudio.com/s/privacy_policy" style="color: #BBBDC0; text-decoration: none">Privacy Policy</a>
    </p>
  </td>
</tr>
</tbody></table>
<br>
<br>
&nbsp;
